# ############################################################################ #
# Ignore self                                                                  #
# ############################################################################ #
# .gitignore

# ############################################################################ #
# Ignore files, created by git                                                 #
# ############################################################################ #
.git/

# ############################################################################ #
# Ignore files, created by github                                              #
# ############################################################################ #
.github/

