# ############################################################################ #
# Ignore self                                                                  #
# ############################################################################ #
.gitignore

# ############################################################################ #
# Ignore files, created by git                                                 #
# ############################################################################ #
.git/

# ############################################################################ #
# Ignore files, created by github                                              #
# ############################################################################ #
.github/

# ############################################################################ #
# Ignore archive or release files                                              #
# ############################################################################ #
*.zip
